# Workload Account Configuration

aws_region            = "xx-xxxx-x"

management_account_id = "xxxxxxxxxxxx"
security_account_id   = "xxxxxxxxxxxx"
logging_account_id    = "xxxxxxxxxxxx"
workload_account_id   = "xxxxxxxxxxxx"

vpc_cidr              = "10.0.0.0/16"
public_subnet_cidr    = "10.0.1.0/24"
private_subnet_cidr   = "10.0.2.0/24"